extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rachel Klimek

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My interest in programming began in highschool. I was interested in pursuing a technical degree in college as my parents both had.
            | After a few computer science courses, I committed to pursuing a CS degree.
            | Now that I am woking as an analyst, I am dedicated to continuing my education so that I can use my technical skills to explore the depths of my job and help coworkers out with projects.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Node
          li Express
          li API calls
          li Pug
        h6 Contact Info

        ul
          li 651-468-7844
          li rlwalm.shop@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/rachel-klimek-61bb98107/') LinkedIn
        a.button.expanded(href='https://github.com/rklimek-26') GitHub
        a.button.expanded(href='https://twitter.com/rlklimek') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
